.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #000000 !important;
  padding: 56px 73px 56px 73px;
  display: flex;
  flex-direction: column;
  gap: 220px;
  align-items: center;
  justify-content: flex-start;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.main-menu {
  flex-shrink: 0;
  width: 1265px;
  height: 37px;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - -325.5px);
  top: 50%;
  translate: 0 -50%;
}
.home2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.shubham-pathak {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
}
.hero-section {
  flex-shrink: 0;
  width: 1137px;
  height: 339px;
  position: relative;
}
.my-work-experience {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 172.5px;
  top: 0px;
}
.i-have-worked-2-years-as-a-software-engineer-i-am-currently-working-as-a-software-engineer-at-shodat-ai {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 105px;
  top: 95px;
}
.frame-2 {
  background: #28a745;
  border-radius: 40px;
  width: 227px;
  height: 57px;
  position: absolute;
  left: 453px;
  top: 282px;
  overflow: hidden;
}
.get-started {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.shubham-pathak-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
